<div class="section">

  <div class="header">
    <span class="title medium">Clients / Transactions <a href="/transactions/new" class="button">Create a transaction</a></span>
  </div>

  <div class="row">
    <a href="#" class="card three columns align-left">
      <span>Client Name</span>
      <span>25%</span>
      <span>Complete</span>
    </a>

    <div class="card three columns align-left">
      <span>Client Name</span>
      <span>33%</span>
      <span>Complete</span>
    </div>

    <div class="card three columns align-left">
      <span>Client Name</span>
      <span>5%</span>
      <span>Complete</span>
    </div>

    <div class="card three columns align-left">
      <span>Client Name</span>
      <span>92%</span>
      <span>Complete</span>
    </div>
  </div>

</div>

<div class="section">

  <div class="header">
    <span class="title medium">Upcoming Dates</span>
  </div>

  <div class="row">
    <a href="/transactions/new" class="card three columns align-left">
      <span>...</span>
      <span>Date</span>
      <span>...</span>
    </a>

    <div class="card three columns align-left">
      <span>...</span>
      <span>Date</span>
      <span>...</span>
    </div>

    <div class="card three columns align-left">
      <span>...</span>
      <span>Date</span>
      <span>...</span>
    </div>

    <div class="card three columns align-left">
      <span>...</span>
      <span>Date</span>
      <span>...</span>
    </div>
  </div>

</div>
