<div class="section">
  <div class="header">
    <span class="title medium">Create a Transaction</span>
  </div>

  <!-- <form id="create-post">
  <label for="body">Create a Post</label>
  <textarea name="body" class="u-full-width" placeholder="What's on your mind?"></textarea>

  <button type="submit" class="button-primary">Post</button>
  </form> -->

  <br />

  <form id="create-transaction">
    <div class="row">
      <div class="six columns">
        <label for="exampleEmailInput">Client Name</label>
        <input class="u-full-width" type="text" placeholder="Jane Doe" id="exampleEmailInput">
      </div>
      <div class="six columns">
        <label for="exampleEmailInput">Purchase Price</label>
        <div class="" style="">
          <span style="display:inline-block">$</span>
          <input class="" type="number" min="0.01" step="0.01" placeholder="450000" id="exampleEmailInput" style="display:inline-block">
        </div>

      </div>
    </div>
  </form>

  <form id="create-transaction-events">
    <button type="button" name="button" id="AddTransactionEvent"></button>
    {{#each event}}

    {{/each}}
  </form>

  <div class="row">
    <div class="six columns">
      <input class="button-primary" type="submit" value="Submit">
    </div>
    <div class="six columns">
      <label class="example-send-yourself-copy">
        <input type="checkbox">
        <span class="label-body">Send a copy to yourself</span>
      </label>
    </div>
  </div>

</div>
